<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postTest1</title>
</head>
<body>
<form method="post" action="/booktest/postTest2/">
    user name: <input type="text" name="uname"><br>
    password: <input type="password" name="upwd"><br>
    gender: <input type="radio" name="ugender" value="男" checked="checked">男
    <input type="radio" name="ugender" value="女">女 <br>
    hobby: <input type="checkbox" name="uhobby" value="学习">学习
    <input type="checkbox" name="uhobby" value="reading">reading
    <input type="checkbox" name="uhobby" value="listening">listening
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>